body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.box {
    width: 100px;
    height: 100px;
    box-shadow: 10px 10px 20px gray;
    background-color: yellowgreen;
    transform: scale(2.5, 1.0);
}